@model RealEstateAgency.Domain.Entities.Offer
@using RealEstateAgency.Domain.Setup

@{
    ViewBag.Title = "Dodaj ofertę...";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dodaj nową ofertę</h2>

<div>
    @Html.ActionLink("Powrót do strony głównej", "Index")
</div>


@using (Html.BeginForm("Add","Admin", new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Description, new { title = "Wprowadź opis nieruchomości", htmlAttributes = new { @class = "form-control" }, style = "width:100%;max-width:100%" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", Title = "Wprowadź cenę nieruchomości" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Category, (List<SelectListItem>)ViewBag.categories, new { htmlAttributes = new { @class = "form -control", Title = "M-mieszkanie,D-dom,N-działka lub grunt,G-garaż,L-lokal użytkowy,P-pokój" } })
                @*@Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form -control", Title = "M-mieszkanie,D-dom,N-działka lub grunt,G-garaż,L-lokal użytkowy,P-pokój" } })*@
                @*@RealEstateHelpers.LegendaHelper(Setups.GetInstance().CATEGORIES)*@
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Offer_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Offer_Type, (List<SelectListItem>)ViewBag.offer_types, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.EditorFor(model => model.Offer_Type, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@RealEstateHelpers.LegendaHelper(Setups.GetInstance().OFFER_TYPES)*@
                @Html.ValidationMessageFor(model => model.Offer_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Market, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Market, (List<SelectListItem>)ViewBag.markets, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.EditorFor(model => model.Market, new { htmlAttributes = new { @class = "form-control" } })
                    @RealEstateHelpers.LegendaHelper(Setups.GetInstance().MARKETS)*@
                @Html.ValidationMessageFor(model => model.Market, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rooms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Rooms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rooms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parcel_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Parcel_Type, (List<SelectListItem>)ViewBag.parcel_types, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.EditorFor(model => model.Parcel_Type, new { htmlAttributes = new { @class = "form-control" } })
                    @RealEstateHelpers.LegendaHelper(Setups.GetInstance().PARCEL_TYPES)*@
                @Html.ValidationMessageFor(model => model.Parcel_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Garage_Construction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Garage_Construction, (List<SelectListItem>)ViewBag.garage_constructions, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.EditorFor(model => model.Garage_Construction, new { htmlAttributes = new { @class = "form-control" } })
                    @RealEstateHelpers.LegendaHelper(Setups.GetInstance().GARAGE_CONSTRUCTIONS)*@
                @Html.ValidationMessageFor(model => model.Garage_Construction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Local_Purpose, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Local_Purpose, (List<SelectListItem>)ViewBag.local_purposes, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.EditorFor(model => model.Local_Purpose, new { htmlAttributes = new { @class = "form-control" } })
                    @RealEstateHelpers.LegendaHelper(Setups.GetInstance().LOCAL_PURPOSE)*@
                @Html.ValidationMessageFor(model => model.Local_Purpose, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<input type="file" id="multipleFiles" style="width: 50%;" /><div style="width: 77%;float:right" id="progressbar"></div>

    <div id="fileQueue"></div> 

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="links">
        <a href="~/AgencyImages/home-002.jpg" title="Banana">
            <img src="~/AgencyImages/thumb/home-002.jpg" alt="Banana">
        </a>
        <a href="~/AgencyImages/home-002.jpg" title="Banana">
            <img src="~/AgencyImages/thumb/home-002.jpg" alt="Banana">
        </a>
        <a href="~/AgencyImages/home-002.jpg" title="Banana">
            <img src="~/AgencyImages/thumb/home-002.jpg" alt="Banana">
        </a>
    </div>
    Gallery b
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <div>
        @Html.ActionLink("Powrót do strony głównej", "Index")
    </div>
