@model IEnumerable<RealEstateAgency.Domain.Entities.Offer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <div>Wszystkie oferty</div>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Tytuł</th>
                <th class="text-right">Cena</th>
                <th class="text-center">Akcje</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.Id</td>
                    <td>
                        @Html.ActionLink(item.Name, "Edit", new { item.Id})
                    </td>
                    <td class="text-right">@item.Price.ToString("c")</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Usuń", "Admin"))
                        {
                            @Html.Hidden("OfferId", item.Id)
                            <input type="submit" class="btn btn-default btn-xs" value="Usuń" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("Dodaj oferte...", "Create", null, new { @class = "btn btn-default"})
    </div>
</div>


</table>
