@using RealEstateAgency.WebUI.Properties
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.APP_NAME_FULL</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <img src="~/Resources/logo_n1.png" />
            </div>
            <div class="col-md-6">
                <form class="navbar-form navbar-right" role="search">
                    <button type="button" class="btn btn-info">Kontakt: tel.: 502-304-426 e-mail: magdalena.dacko@gmail.com</button>
                </form>
            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-inverse navbar-custom" role="navigation" style="background-color:#28a4c9;color:white">
                @Html.Action("TopMenu", "Nav")
                <ul class="nav navbar-nav navbar-right" style="margin-right:30px">
                    <li>
                        <a href="#"><b>O nas...</b></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>

        
        <div class="col-md-1"></div>
    </div>

    @*<div class="row panel">
        <div class="col-md-1"></div>
        <div id="categories" class="col-md-3">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-md-7">
            @RenderBody()
        </div>
        <div class="col-md-1"></div>
    </div>*@
    
    <div class="row panel">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @RenderBody()
        </div>
        <div class="col-md-1"></div>
    </div>

    
</body>
</html>