@using RealEstateAgency.WebUI.Properties


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.APP_NAME_FULL</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Social.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>  
    <script src="~/Scripts/ReadEstate.js"></script>

    <!-- displys selected value in drop down-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
            $('.mydropdown li > a').click(function () {
                $('#text').text($(this).html());
            });

            function hideAll() {
                $("#mieszkanie").hide();
                $("#dom").hide();
                $("#dzialka").hide();
                $("#garaz").hide();
                $("#lokal").hide();
                $("#pokoj").hide();
            }

            function displayFirst() {
                $("#mieszkanie").show();
            }
            hideAll();
            displayFirst();
            
            $("#category").on("change", function () {
                hideAll();
                switch ($("#category option:selected").index())
                {
                    case 0:
                        $("#mieszkanie").show();
                        break;
                    case 1:
                        $("#dom").show();
                        break;
                    case 2:
                        $("#dzialka").show();
                        break;
                    case 3:
                        $("#garaz").show();
                        break;
                    case 4:
                        $("#lokal").show();
                        break;
                    case 5:
                        $("#pokoj").show();
                        break;
                }                
            });
        });

        
    </script>
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <img src="~/Resources/logo_n1.png" />
            </div>
            <div class="col-md-6">
                <form class="navbar-form navbar-right" role="search">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 502-304-426 <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 509 808 144 <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> magdalena.dacko@gmail.com</button>
                </form>
            </div>
        </div>

        <div class="row">
            <nav class="navbar btn-info" role="navigation">
                @Html.Action("TopMenu", "Nav")



                <ul class="nav navbar-nav navbar-right" style="margin-right:30px;color:#ffffff">
                    <li>
                        <a href="#" style="color:white"><b>O nas...</b></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- main content -->

    <div class="row panel" >

        <!-- search criteria -->
        <div class="coll-md-2 coll-lg-2">aa</div>
        <div class="col-md-5 coll-lg-5">
            <div class="container-fluid">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        @*<legend style="text-align:center">Wyszukiwanie nieruchomości</legend>*@
                        @RealEstateHelpers.MakeDropDown("Rodzaj nieruchomości:",
                                                new Dictionary<string, string> {
                                                    { "M", "mieszkanie" },
                                                    { "D", "dom" },
                                                    { "N", "działka lub grunt" },
                                                    { "G", "garaż"},
                                                    { "L", "lokal użytkowy"},
                                                    { "P", "pokój"} }
                                                , "category", "category")

                        <div id="search_criteria">
                            <!--   MIESZKANIE -->
                            <div id="mieszkanie">
                                @RealEstateHelpers.MakeDropDown("Rodzaj oferty:",
                                                    new Dictionary<string, string> {
                                                        { "S", "oferta sprzedaży" },
                                                        { "K", "oferta kupna" },
                                                        { "Z", "oferta zamiany" },
                                                        { "W", "oferta wynajmu" }},
                                                    "offer_type",
                                                    "offer_type")
                                @RealEstateHelpers.MakeDropDown("Rynek:", new Dictionary<string, string> { { "P", "pierwotny" }, { "W", "wtórny" } }, "market", "market")
                                @RealEstateHelpers.MakeTextEditBetween("Cena:", "price_min", "price_min", "np. 80000", "price_max", "price_max", "np. 200000")
                                @RealEstateHelpers.MakeTextEdit("Miejscowość", "np. Rzeszów", "location", "location")
                                @RealEstateHelpers.MakeTextEditBetween("Powierychnia w m2:", "area_min", "area_min", "np. 40", "area_max", "area_max", "np. 120")
                                @RealEstateHelpers.MakeTextEditBetween("Liczba pokoi:", "room_min", "room_min", "np. 2", "room_max", "room_max", "np. 4")

                            </div> <!-- end od MIESZKANIE -->

                            <div id="dom">
                                @RealEstateHelpers.MakeDropDown("Rodzaj oferty:",
                                                    new Dictionary<string, string> {
                                                        { "S", "oferta sprzedaży" },
                                                        { "K", "oferta kupna" },
                                                        { "Z", "oferta zamiany" },
                                                        { "W", "oferta wynajmu" }},
                                                    "offer_type",
                                                    "offer_type")
                                @RealEstateHelpers.MakeDropDown("Rynek:", new Dictionary<string, string> { { "P", "pierwotny" }, { "W", "wtórny" } }, "market", "market")
                                @RealEstateHelpers.MakeTextEditBetween("Cena:", "price_min", "price_min", "np. 80000", "price_max", "price_max", "np. 200000")
                                @RealEstateHelpers.MakeTextEdit("Miejscowość", "np. Rzeszów", "location", "location")
                                @RealEstateHelpers.MakeTextEditBetween("Powierychnia w m2:", "area_min", "area_min", "np. 40", "area_max", "area_max", "np. 120")
                                @RealEstateHelpers.MakeTextEditBetween("Liczba pokoi:", "room_min", "room_min", "np. 2", "room_max", "room_max", "np. 4")

                            </div><!-- end of DOM -->
                            <!-- DZIALKA -->
                            <div id="dzialka">
                                @RealEstateHelpers.MakeDropDown("Rodzaj oferty:",
                                                    new Dictionary<string, string> {
                                                        { "S", "oferta sprzedaży" },
                                                        { "K", "oferta kupna" },
                                                        { "Z", "oferta zamiany" },
                                                        { "W", "oferta wynajmu" }},
                                                    "offer_type",
                                                    "offer_type")
                                @RealEstateHelpers.MakeTextEditBetween("Cena:", "price_min", "price_min", "np. 80000", "price_max", "price_max", "np. 200000")
                                @RealEstateHelpers.MakeTextEdit("Miejscowość", "np. Rzeszów", "location", "location")
                                @RealEstateHelpers.MakeTextEditBetween("Powierychnia w m2:", "area_min", "area_min", "np. 40", "area_max", "area_max", "np. 120")
                                @RealEstateHelpers.MakeDropDown("Rodzaj działki:",
                                                    new Dictionary<string, string> {
                                                      {"B", "budowlana"},
                                                      {"R", "rolna"},
                                                      {"I", "inwestycyjna"},
                                                      {"U", "usługowa"},
                                                      {"P","przemysłowa"},
                                                      {"L","leśna"},
                                                      {"O","rolno-budowlana"}},
                                                    "parcel_type",
                                                    "parcel_type")


                            </div><!-- end of DZIALKA -->
                            <!-- GARAZ-->
                            <div id="garaz">
                                @RealEstateHelpers.MakeDropDown("Rodzaj oferty:",
                                                    new Dictionary<string, string> {
                                                        { "S", "oferta sprzedaży" },
                                                        { "K", "oferta kupna" },
                                                        { "Z", "oferta zamiany" },
                                                        { "W", "oferta wynajmu" }},
                                                    "offer_type",
                                                    "offer_type")
                                @RealEstateHelpers.MakeTextEditBetween("Cena:", "price_min", "price_min", "np. 80000", "price_max", "price_max", "np. 200000")
                                @RealEstateHelpers.MakeTextEdit("Miejscowość", "np. Rzeszów", "location", "location")
                                @RealEstateHelpers.MakeTextEditBetween("Powierychnia w m2:", "area_min", "area_min", "np. 40", "area_max", "area_max", "np. 120")
                                @RealEstateHelpers.MakeDropDown("Konstrukcja:",
                                                    new Dictionary<string, string> {
                                                        {"B", "blaszak"},
                                                        {"M", "murowany"},
                                                        {"P", "pod budynkiem"},
                                                        {"W", "wiata"}},
                                                    "garage_construction",
                                                    "garage_construction")
                            </div><!-- end of GARAZ-->
                            <!-- LOKAL -->
                            <div id="lokal">
                                @RealEstateHelpers.MakeDropDown("Rodzaj oferty:",
                                                    new Dictionary<string, string> {
                                                        { "S", "oferta sprzedaży" },
                                                        { "K", "oferta kupna" },
                                                        { "Z", "oferta zamiany" },
                                                        { "W", "oferta wynajmu" }},
                                                    "offer_type",
                                                    "offer_type")
                                @RealEstateHelpers.MakeTextEditBetween("Cena:", "price_min", "price_min", "np. 80000", "price_max", "price_max", "np. 200000")
                                @RealEstateHelpers.MakeTextEdit("Miejscowość", "np. Rzeszów", "location", "location")
                                @RealEstateHelpers.MakeTextEditBetween("Powierychnia w m2:", "area_min", "area_min", "np. 40", "area_max", "area_max", "np. 120")
                                @RealEstateHelpers.MakeDropDown("Przeznaczenie:",
                                                    new Dictionary<string, string> {
                                                        {"0","-"},
                                                        {"1","biuro"},
                                                        {"2","hale i magazyny"},
                                                        {"3","handel i usługi"},
                                                        {"4","przemysł i produkcja"} },
                                                    "local_purpose",
                                                    "local_purpose")
                            </div><!-- end of GARAZ-->
                            <!-- POKOJ -->
                            <div id="pokoj">
                                @RealEstateHelpers.MakeTextEditBetween("Cena:", "price_min", "price_min", "np. 80000", "price_max", "price_max", "np. 200000")
                                @RealEstateHelpers.MakeTextEdit("Miejscowość", "np. Rzeszów", "location", "location")
                            </div><!-- end of POKOJ -->

                        </div>
                        @RealEstateHelpers.MakeDropDown("Pokaż oferty z:", new Dictionary<string, string> { { "0", "-" }, { "1", "ostatnich 24 godzin" }, { "2", "ostatnich 7 dni" }, { "3", "ostatniego miesiąca" }, { "4", "ostatnich 3 miesięcy" } }, "time", "time")
                        <button class="btn btn-lg btn-primary center-block" type="submit">Szukaj</button>
                    </fieldset>

                </form>
            </div>

            <!-- end of search criteria -->
        </div>

        <div class="col-md-6 coll-lg-6">
            @RenderBody()
        </div>
        
        @*<div id="search_criteria" class="col-md-3">*@
        @*@Html.Action("SearchCriteria", "Search")*@



        @*  </div>
            <!-- end of search_criteria -->
            @*<div class="col-md-7">
                @RenderBody()
            </div>*@
        @*<div class="col-md-1"></div>*@
    </div>   

    <!-- end of main content -->

    @*<div class="row panel">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @RenderBody()
        </div>
        <div class="col-md-1"></div>
    </div>*@


    <!-- footer with social icons -->
    <div class="container">
        <div class="row">

            <div class="navbar btn-info" style="padding-top:5px; padding-bottom:5px; color:#ffffff">
                <span class="text-center" style="padding-left:3px">Cztery Pokoje &copy;@DateTime.Now.Year. Wszystkie prawa zastrzeżone.</span>
                
                <ul class="social-icon animate pull-right">
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of footer with social icons -->
     
</body>
</html>