@using RealEstateAgency.WebUI.Properties
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.APP_NAME_FULL</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Social.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-6">
                <img src="~/Resources/logo_n1.png" />
            </div>
            <div class="col-md-6">
                <form class="navbar-form navbar-right" role="search">
                    <button type="button" class="btn btn-info">Kontakt: tel.: 502-304-426 e-mail: magdalena.dacko@gmail.com</button>
                </form>
            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-inverse navbar-custom" role="navigation" style="background-color:#28a4c9;color:white">
                @Html.Action("TopMenu", "Nav")
                <ul class="nav navbar-nav navbar-right" style="margin-right:30px">
                    <li>
                        <a href="#"><b>O nas...</b></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    @*<div class="row panel">
        <div class="col-md-1"></div>
        <div id="categories" class="col-md-3">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-md-7">
            @RenderBody()
        </div>
        <div class="col-md-1"></div>
    </div>*@
    
    <!-- main content -->
    <div class="row panel">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @RenderBody()
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- end of main content -->

    <!-- footer with social icons -->
    <div class="container">
        <div class="row">

            <div class="navbar navbar-inverse navbar-custom" style="padding-top:5px; padding-bottom:5px; color:#9D9D9D">
                <span class="text-center" style="padding-left:3px">Cztery Pokoje &copy;2017. Wszystkie prawa zastrzeżone.</span>
                
                <ul class="social-icon animate pull-right">
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of footer with social icons -->
     
</body>
</html>