@model RealEstateAgency.Domain.Entities.Offer

@using RealEstateAgency.WebUI.Helpers

<div class="well">
    <div class="row">
        <h3>@{
            string css = "pull-left label label-";
            string name = string.Empty;

            switch (Model.Category)
            {
                case "M":
                    css += "danger";
                    name = "Mieszkanie";
                    break;
                case "D":
                    css += "warning";
                    name = "Dom";
                    break;
                case "N":
                    css += "default";
                    name = "Działka";
                    break;
                case "G":
                    css += "success";
                    name = "Garaż";
                    break;
                case "L":
                    css += "info";
                    name = "Lokal";
                    break;
                case "P":
                    css += "primary";
                    name = "Pokój";
                    break;
                default:
                    css += "primary";
                    name = "Pokój";
                    break;

            }
            <span class="pull-left label label-@css">@name</span>

        }
            <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
        </h3>
    </div>
    <div class="row">
        <h3>
            <strong>@Model.Name</strong>
        </h3>
    </div>

    <span class="lead">@Model.Description</span>

    <div>
        @{
            string PATH_TO_SAVE_IMAGES = Server.MapPath("~/AgencyImages");
            string directory = Path.Combine(PATH_TO_SAVE_IMAGES, Model.Id.ToString());
            if (Directory.Exists(directory))
            {
                string[] files = Directory.GetFiles(directory);
                foreach (string file in files)
                {
                    //string path = string.Format("{0}{1}{2}{3}{4}{5}{6}", "~/AgencyImages", Path.DirectorySeparatorChar, Model.Id.ToString(), Path.DirectorySeparatorChar, "thumb", Path.DirectorySeparatorChar, Path.GetFileName(file));
                    string path = Path.Combine("~/AgencyImages", Model.Id.ToString(), "thumb", Path.GetFileName(file));
                    <img src="@Url.Content(path)" width="200" alt="Image" />
                }
            }
        }
     </div>
        <div>

        </div>
    </div>

